<html>
<head>
    <!-- meta charset 指定了页面编码, 否则中文会乱码 -->
    <meta charset="utf-8">
    <!-- title 是浏览器显示的页面标题 -->
    <title>主页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/static?file=commons.e4fbccfe.chunk.css">
    <link rel="stylesheet" href="/static?file=styles.ea52ad57.chunk.css">
    <link rel="stylesheet" href="/static?file=12.9f0bd644.chunk.css">
    <link rel="stylesheet" href="/static?file=13.9226e3ca.chunk.css">


</head>
<body>
<div class="_21bLU4 _3kbg6I">
    <div class="_3VRLsv" role="main">
        <div class="_gp-ck">
            <h1>主页</h1>
            <a href='/login'>LOGIN</a>
            <a href='/'> {username} 的 HOME PAGE</a>
            <img src='/static?file=doge.gif'>
            <img src='/static?file=doge1.jpg'>
            <img src='/static?file=doge2.gif'>


            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    导航栏
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">登录</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
        </div>
        <aside class="_2OwGUo">
            <section class="_3Z3nHf">
                <div class="_3Oo-T1"><a class="_1OhGeD" href="/u/37cb2ace75c2" target="_blank"
                                        rel="noopener noreferrer"><img class="_3T9iJQ"
                                                                       src="https://upload.jianshu.io/users/upload_avatars/11779431/29d017d6-8c60-489f-bb86-d45124115156.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/90/h/90/format/webp"
                                                                       alt=""></a>
                    <div class="_32ZTTG">
                        <div class="_2O0T_w">
                            <div class="_2v-h3G"><span class="_2vh4fr" title="直着蓝"><a class="_1OhGeD"
                                                                                      href="/u/37cb2ace75c2"
                                                                                      target="_blank"
                                                                                      rel="noopener noreferrer">直着蓝</a></span><a
                                    class="_2edyx1 _3jsL5v _1OhGeD" href="https://www.jianshu.com/p/3bc50b869c89"
                                    target="_blank" rel="noopener noreferrer"><img class="_1_2JEL"
                                                                                   src="https://upload.jianshu.io/user_badge/d60756bb-83ca-4515-9eda-a8cd7c72e188"
                                                                                   alt="  "
                                                                                   style="width: 16px; height: 16px; min-width: 16px; min-height: 16px;"></a>
                            </div>
                            <button data-locale="zh-CN" type="button" class="tzrf9N _1OyPqC _3Mi9q9 _34692-">
                                <span>关注</span></button>
                        </div>
                        <div class="_1pXc22">总资产1,352 (约99.34元)</div>
                    </div>
                </div>
                <div class="_19DgIp"></div>
                <div class="_26Hhi2" role="listitem">
                    <div class="_3TNGId" title="你得变，你得找"><a class="_2ER8Tt _1OhGeD" href="/p/8f7493090fd4"
                                                            target="_blank" rel="noopener noreferrer">你得变，你得找</a></div>
                    <div class="DfvGP9">阅读 627</div>
                </div>
                <div class="_26Hhi2" role="listitem">
                    <div class="_3TNGId" title="愿你能成为正能量的人"><a class="_2ER8Tt _1OhGeD" href="/p/b148b4850515"
                                                               target="_blank" rel="noopener noreferrer">愿你能成为正能量的人</a>
                    </div>
                    <div class="DfvGP9">阅读 30</div>
                </div>
                <div class="_26Hhi2" role="listitem">
                    <div class="_3TNGId" title="躲雨以后"><a class="_2ER8Tt _1OhGeD" href="/p/11905ba5a44a" target="_blank"
                                                         rel="noopener noreferrer">躲雨以后</a></div>
                    <div class="DfvGP9">阅读 104</div>
                </div>
            </section>
            <div>
                <div class="">
                    <section class="_3Z3nHf"><h3 class="QHRnq8 QxT4hD"><span>推荐阅读</span></h3>
                        <div class="cuOxAY" role="listitem">
                            <div class="_3L5YSq" title="过往"><a class="_1-HJSV _1OhGeD" href="/p/72463d8f8ca9"
                                                               target="_blank" rel="noopener noreferrer">过往</a></div>
                            <div class="_19haGh">阅读 27,199</div>
                        </div>
                        <div class="cuOxAY" role="listitem">
                            <div class="_3L5YSq" title="一个人能脏到什么地步"><a class="_1-HJSV _1OhGeD" href="/p/c74a2243d2a6"
                                                                       target="_blank" rel="noopener noreferrer">一个人能脏到什么地步</a>
                            </div>
                            <div class="_19haGh">阅读 36,338</div>
                        </div>
                        <div class="cuOxAY" role="listitem">
                            <div class="_3L5YSq" title="家境到底有多重要"><a class="_1-HJSV _1OhGeD" href="/p/423eb3848ed4"
                                                                     target="_blank"
                                                                     rel="noopener noreferrer">家境到底有多重要</a></div>
                            <div class="_19haGh">阅读 15,229</div>
                        </div>
                        <div class="cuOxAY" role="listitem">
                            <div class="_3L5YSq" title="一个人"><a class="_1-HJSV _1OhGeD" href="/p/d6613966a2c8"
                                                                target="_blank" rel="noopener noreferrer">一个人</a></div>
                            <div class="_19haGh">阅读 10,898</div>
                        </div>
                        <div class="cuOxAY" role="listitem">
                            <div class="_3L5YSq" title="赵薇直言：那个周什么雨，周冬雨回复13字，网友：这情商“绝了”"><a class="_1-HJSV _1OhGeD"
                                                                                            href="/p/e714a9fe3c78"
                                                                                            target="_blank"
                                                                                            rel="noopener noreferrer">赵薇直言：那个周什么雨，周冬雨回复13字，网友：这情商“绝了”</a>
                            </div>
                            <div class="_19haGh">阅读 10,526</div>
                        </div>
                    </section>
                </div>
            </div>
        </aside>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</body>
</html>